# Created by https://www.toptal.com/developers/gitignore/api/macos,firebase,xcode,swiftpackagemanager
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,firebase,xcode,swiftpackagemanager


### macOS ###
# General
.DS_Store

# Icon must end with two \r


# Thumbnails

# Files that might appear in the root of a volume

# Directories potentially created on remote AFP share
### macOS Patch ###

### SwiftPackageManager ###

### Xcode ###
## User settings

## Xcode 8 and earlier

### Xcode Patch ###
## xcode 확장자 
*.xcuserstate


# End of https://www.toptal.com/developers/gitignore/api/macos,firebase,xcode,swiftpackagemanager